<div class="container">
  <% @body_class = 'page_end_payment' %>
  <h1>Оплата заказа прошла успешно</h1>
  <p class="description_payment_page">
    Спасибо за покупку!
  </p>
  <%= link_to 'Продолжить покупки', products_path, class: 'continue_link' %>
</div>
